.block {
    width: 400px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    margin: auto;
    margin-top: 5px;
}

.container {
    background-color: lime;
}

.container-fluid {
    background-color: blue;
}

div[class='col'] {
    border: 1px solid black;
    background-color: lime;
}